<div class="container">
  <form (ngSubmit)="onSubmitData()" #dataForm="ngForm">
    <div class="input">
      <label>Currency Code</label>
      <input
        type="text"
        name="code"
        ngModel
        required
      >
    </div>
    <div class="input">
      <label>Username</label>
      <input
        type="text"
        name="name"
        ngModel
        required
      >
    </div>
    <button type="submit" [disabled]="!dataForm.valid">Get Value</button>
  </form>
  <p *ngIf="data">Current value for currency {{data.code}}: {{data.value}} zł.</p>
  <p *ngIf="errorMsg != ''">{{errorMsg}}</p>
</div>
